.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    gap: 30px;
  }
  
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }