.order-list-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.order-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.order {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order h3 {
  margin-top: 0;
  color: #007bff;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-table th {
  background-color: #f2f2f2;
  color: #333;
}

.order-list-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.order-list-btn:hover {
  background-color: #0056b3;
}